/* Import the custom fonts */
@import "./fonts.css";

/* Apply the custom font family to all elements */
* {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif;
}

:root {
  --primary-color: #522671;
  --secondary-color: #161616;
  --tertiary-color: #fff;
  --quaternary-color: #8c62ec;
  --quinary-color: #faf9fd;
  --senary-color: #ede6ff;
  --septenary-color: #16a085;
  --octonary-color: #c0392b;
  --nonary-color: #2980b9;
  --denary-color: #d35400;
}

/* navbar style starts */

.hamberger{
  display: none;
}

.navbar-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 36px 0px;
}

.navbar-btn {
  margin: 32px 0px 33px 0px;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border-radius: 5px;
  padding: 14px 102px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25.24px;
}

/* navbar style ends */

/* banner style starts */

.banner-main-div {
  display: flex;
  justify-content: space-between;
}

.banner-left-div {
  display: flex;
  flex-direction: column;
}

.banner-p1 {
  color: var(--primary-color);
  font-weight: 800;
  font-size: 20px;
  line-height: 22.6px;
  margin-top: 42px;
}

.banner-h3 {
  color: var(--secondary-color);
  font-size: 54px;
  line-height: 72.32px;
  font-weight: 800;
  margin-top: 7px;
}

.banner-img {
  margin-top: 17px;
  margin-left: 45px;
}

.price-p {
  font-size: 48px;
  line-height: 54.24px;
  font-weight: 700;
  margin-top: 15px;
}

.span-price {
  color: var(--quaternary-color);
  font-weight: 800;
  font-size: 48px;
}

.star-div{
  display: flex;
}

.margin-t7 {
  margin-top: 7px;
}

.correct-img {
  width: 19.5px;
  height: 13.5px;
}

.correct-p {
  margin-left: 34.5px;
  font-size: 20px;
  line-height: 22.6px;
  font-weight: 700;
  margin-bottom: 20px;
}

.star {
  margin-left: 94px;
}

.rating-p {
  margin-left: 17px;
  color: var(--primary-color);
  font-size: 24px;
  line-height: 27.12px;
  font-weight: 700;
  margin-bottom: 2px;
}

.start-btn {
  margin-top: 18px;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border-radius: 8.09px;
  padding: 22.64px 164.94px 22.64px;
  font-size: 32.34px;
  line-height: 40.81px;
  font-weight: 700;
}

.fee-p {
  text-align: center;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 20.34px;
  font-weight: 700;
  margin-top: 28.72px;
}

/* banner style ends */



/* seen style starts */


.hr-line {
  color: var(--primary-color);
  margin-top: 83px;
}

.seen-p {
  text-align: center;
  color: var(--secondary-color);
  font-size: 24px;
  line-height: 27.12px;
  font-weight: 700;
  margin-top: 34px;
}

.seen-brand-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 29px;
}

.lose-p {
  margin-top: 61.64px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 48px;
  font-weight: 700;
  line-height: 54.24px;
}

.margint-59 {
  margin-top: 59px;
}

.consultation-div {
  display: flex;
  flex-direction: column;
}

.consultation-img {
  margin: 0px auto;
  width: 186px;
  height: 186px;
}

.number-one-div {
  display: flex;
  margin-top: 39.5px;
}

.marginl-31 {
  margin-left: 31px;
}

.schedule-p {
  color: var(--primary-color);
  font-size: 24px;
  line-height: 27.12px;
  font-weight: 800;
}

.guidance-p {
  margin-top: 10px;
  font-size: 22px;
  line-height: 22.6px;
  font-weight: 500;
  color: var(--secondary-color);
}

.btn-lose-div {
  margin-top: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.want-p {
  color: var(--secondary-color);
  font-size: 32px;
  line-height: 36.16px;
  font-weight: 700;
}

.seen-btn {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  margin-left: 65px;
  border-radius: 5px;
  padding: 14px 102px;
  font-size: 20px;
  line-height: 25.24px;
  font-weight: 700;
}

/* weightlose-section style starts */

.weightlose-section {
  background-color: var(--quinary-color);
  margin-top: 73px;
}

.weightlose-section-left-div {
  margin-top: 144px;
  margin-left: 105px;
}

.weight-p1 {
  font-weight: 800;
  font-size: 43px;
  line-height: 54.24px;
  color: var(--secondary-color);
}

.weight-p2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 22.6px;
  color: var(--secondary-color);
  margin-top: 21px;
}

.weightlose-btn {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  margin-top: 21px;
  border-radius: 5px;
  padding: 14px 102px;
  font-size: 20px;
  line-height: 25.24px;
  font-weight: 700;
}

.fifteen-div {
  display: flex;
  flex-direction: column;
  margin-top: 67px;
}

.fifteen-sub-div {
  background-color: var(--senary-color);
  border-radius: 29.89px;
  width: 250.04px;
  height: 252.03px;
}

.fifteen-img {
  padding: 36.99px 64px 6px 62px;
}

.fifteen-text {
  font-size: 20px;
  line-height: 22.6px;
  font-weight: 400;
  padding: 6px 27px 59px 27px;
  text-align: center;
}

.mt-19 {
  margin-top: 19px;
  margin-bottom: 41px;
}

.ml-20 {
  margin-left: 20px;
}

/* Table styling starts */

.table-main-div {
  background-color: var(--quinary-color);
  margin-top: 88px;
}

.table-heading {
  padding-top: 62px;
  color: var(--secondary-color);
  font-size: 57px;
  font-weight: 800;
  line-height: 54.24px;
  text-align: center;
}

.p-color {
  color: var(--primary-color);
}

.color-change {
  background-color: #fff;
}

.table > :not(caption) > * > * {
  border-bottom-width: 0px;
}

/* questions style div*/

.questions-div {
  margin-top: 65px;
  background-color: var(--quinary-color);
}

.pt-128 {
  padding: 128px 0px;
}

.question-p{
  font-size: 48px;
  line-height: 54.24px;
  font-weight: 800;
}

.accordion-button {
  color: #212529;
  background-color: var(--quinary-color);
}

.accordion-button::after {
  background-image: url('../images/question-plus.png');
  background-repeat: no-repeat;
}

.accordion-button:not(.collapsed)::after {
  background-image: url('../images/question-plus.png');
  transform: rotate(-180deg);
}

.question-btn{
  color: var(--primary-color);
  font-size: 18px;
 font-weight: 700;
 line-height: 22.6px;
}

.button-body{
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.41px;
}

.table-btn{
  margin-top: 50px;
  margin-bottom: 67px;
}



/* css responsiveness */

@media(max-width:575px){

  /* navbar style */
.hamberger{
    display: block;
  }

.navbar-btn {
      padding: 14px 20px;
      font-size: 11px;
      line-height: 13.88px;
}
  
    /* banner style */
.banner-main-div {
  display: flex;
  justify-content: space-between;
}

.banner-left-div {
  display: flex;
  flex-direction: column;
}

.banner-p1 {
  text-align: center;
  margin-top: 37px;
}

.banner-h3 {
  color: var(--secondary-color);
  font-size: 44px;
  line-height: 50.85px;
  text-align: center;
  margin-top: 30px;
}

.banner-img {
  display: none;
}

.price-p {
    font-size: 30px;
    line-height: 33.9px;
    font-weight: 700;
    margin-top: 15px;
    text-align: center;
}

.span-price {
  color: var(--quaternary-color);
  font-weight: 800;
  font-size: 30px;
  line-height: 33.9px;
}

.margin-t7 {
  margin-top: 7px;
}

.correct-img {
  width: 19.5px;
  height: 13.5px;
}

.correct-p {
  margin-left: 14.5px;
    font-size: 14px;
    line-height: 15.8px;
    font-weight: 700;
    margin-bottom: 20px;
}

.star-div{
  display: block;
  margin-top: 37px;
}

.star {
  text-align: center;
}

.rating-p {
  margin-left: 0px;
    color: var(--primary-color);
    font-size: 24px;
    line-height: 27.12px;
    font-weight: 700;
    margin-bottom: 2px;
    text-align: center;
}

.start-btn {
  margin-top: 20px;
  padding: 22.64px 50.94px 22.64px;
  line-height: 40.81px;  
}

.fee-p {
  font-size: 15px;
  line-height: 16.95px;
  margin-top: 20px;
}



  .hr-line {
    color: var(--primary-color);
    margin-top: 83px;
  }
  
  .seen-p {
    text-align: center;
    color: var(--secondary-color);
    font-size: 24px;
    line-height: 27.12px;
    font-weight: 700;
    margin-top: 34px;
  }
  
  .seen-brand-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 29px;
  }
  
  .lose-p {
    margin-top: 61.64px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: 700;
    line-height: 54.24px;
  }
  
  .margint-59 {
    margin-top: 59px;
  }
  
  .consultation-div {
    display: flex;
    flex-direction: column;
  }
  
  .consultation-img {
    margin: 0px auto;
    width: 186px;
    height: 186px;
  }
  
  .number-one-div {
    display: flex;
    margin-top: 39.5px;
  }
  
  .marginl-31 {
    margin-left: 31px;
  }
  
  .schedule-p {
    color: var(--primary-color);
    font-size: 24px;
    line-height: 27.12px;
    font-weight: 800;
  }
  
  .guidance-p {
    margin-top: 10px;
    font-size: 22px;
    line-height: 22.6px;
    font-weight: 500;
    color: var(--secondary-color);
  }
  
  .btn-lose-div {
    margin-top: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .want-p {
    color: var(--secondary-color);
    font-size: 32px;
    line-height: 36.16px;
    font-weight: 700;
  }
  
  .seen-btn {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    margin-left: 65px;
    border-radius: 5px;
    padding: 14px 102px;
    font-size: 20px;
    line-height: 25.24px;
    font-weight: 700;
  }
  
  /* weightlose-section style starts */
  
  .weightlose-section {
    background-color: var(--quinary-color);
    margin-top: 73px;
  }
  
  .weightlose-section-left-div {
    margin-top: 144px;
    margin-left: 105px;
  }
  
  .weight-p1 {
    font-weight: 800;
    font-size: 43px;
    line-height: 54.24px;
    color: var(--secondary-color);
  }
  
  .weight-p2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 22.6px;
    color: var(--secondary-color);
    margin-top: 21px;
  }
  
  .weightlose-btn {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    margin-top: 21px;
    border-radius: 5px;
    padding: 14px 102px;
    font-size: 20px;
    line-height: 25.24px;
    font-weight: 700;
  }
  
  .fifteen-div {
    display: flex;
    flex-direction: column;
    margin-top: 67px;
  }
  
  .fifteen-sub-div {
    background-color: var(--senary-color);
    border-radius: 29.89px;
    width: 250.04px;
    height: 252.03px;
  }
  
  .fifteen-img {
    padding: 36.99px 64px 6px 62px;
  }
  
  .fifteen-text {
    font-size: 20px;
    line-height: 22.6px;
    font-weight: 400;
    padding: 6px 27px 59px 27px;
    text-align: center;
  }
  
  .mt-19 {
    margin-top: 19px;
    margin-bottom: 41px;
  }
  
  .ml-20 {
    margin-left: 20px;
  }
  
  /* Table styling starts */
  
  .table-main-div {
    background-color: var(--quinary-color);
    margin-top: 88px;
  }
  
  .table-heading {
    padding-top: 62px;
    color: var(--secondary-color);
    font-size: 57px;
    font-weight: 800;
    line-height: 54.24px;
    text-align: center;
  }
  
  .p-color {
    color: var(--primary-color);
  }
  
  .color-change {
    background-color: #fff;
  }
  
  .table > :not(caption) > * > * {
    border-bottom-width: 0px;
  }
  
  /* questions style div*/
  
  .questions-div {
    margin-top: 65px;
    background-color: var(--quinary-color);
  }
  
  .pt-128 {
    padding: 128px 0px;
  }
  
  .question-p{
    font-size: 48px;
    line-height: 54.24px;
    font-weight: 800;
  }
  
  .accordion-button {
    color: #212529;
    background-color: var(--quinary-color);
  }
  
  .accordion-button::after {
    background-image: url('../images/question-plus.png');
    background-repeat: no-repeat;
  }
  
  .accordion-button:not(.collapsed)::after {
    background-image: url('../images/question-plus.png');
    transform: rotate(-180deg);
  }
  
  .question-btn{
    color: var(--primary-color);
    font-size: 18px;
   font-weight: 700;
   line-height: 22.6px;
  }
  
  .button-body{
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 19.41px;
  }
  
  .table-btn{
    margin-top: 50px;
    margin-bottom: 67px;
  }
  
  }


@media (min-width: 576px) and (max-width: 767px) {
  .hamberger{
    display: block;
  }
  .navbar-btn {
    padding: 14px 20px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media (min-width: 768px) and (max-width:991px){
  .hamberger{
    display: block;
  }
  .navbar-btn {
    padding: 14px 20px;
    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: 992px) and (max-width:1199px){
  .hamberger{
    display: block;
  }
  .navbar-btn {
    padding: 14px 20px;
    font-size: 18px;
    line-height: 20px;
  }
}

